In [1]:
a = [123,777,777,897]

In [2]:
print(a.count(123), a.count(777), a.count('x'))

1 2 0

In [3]:
a.insert(1,0.6)
a

[123, 0.6, 777, 777, 897]

In [4]:
a.extend('9')
a

[123, 0.6, 777, 777, 897, '9']

In [5]:
a.append(888)
a

[123, 0.6, 777, 777, 897, '9', 888]

In [6]:
a.remove("9")
a

[123, 0.6, 777, 777, 897, 888]

In [7]:
t = a.pop(4)
t

897

In [8]:
t1 = a.index(777)
t1

2

In [9]:
a.sort()
a

[0.6, 123, 777, 777, 888]

In [10]:
a.reverse()
a

[888, 777, 777, 123, 0.6]

In [11]:
b = a.copy()

In [12]:
b[1] = 123
a

[888, 777, 777, 123, 0.6]

In [13]:
stack = ["qwer","er","sd"]

In [14]:
stack.append("999")
stack

['qwer', 'er', 'sd', '999']

In [15]:
stack.pop()

'999'

In [16]:
from collections import deque

In [17]:
de = deque(["asdf",123,"q3e",2323])

In [18]:
de.append("asd")
de

deque(['asdf', 123, 'q3e', 2323, 'asd'])

In [19]:
de.appendleft(879)
de

deque([879, 'asdf', 123, 'q3e', 2323, 'asd'])

In [20]:
de.pop()
de

deque([879, 'asdf', 123, 'q3e', 2323])

In [21]:
squares = [x ** 2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
[(x, y) for x in (1,2,3) for y in (1,2,3) if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [23]:
vec = [1,2,3,4,5]

In [24]:
[x+100 for x in vec ]

[101, 102, 103, 104, 105]

In [25]:
fruits = ['  ', ' banana', 'apple  ','orange']

In [26]:
[wea.strip() for wea in fruits]

['', 'banana', 'apple', 'orange']

In [27]:
vec02 = [[1,2,3],[4,5,6],[7,8,9]]

In [28]:
[i for ve in vec02 for i in ve ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
import math
[round(math.pi, i) for i in range(1,6)]

[3.1, 3.14, 3.142, 3.1416, 3.14159]

In [30]:
matrix = [
    [1,2,3,10],
    [4,5,6,11],
    [7,8,9,12]
]

In [31]:
len(matrix)

3

In [32]:
[matrix[row][column] for row in range(len(matrix)) for column in range(len(matrix[0]))]

[1, 2, 3, 10, 4, 5, 6, 11, 7, 8, 9, 12]

In [33]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [10, 11, 12]]

In [34]:
a = [123,345,12,456]

In [35]:
del a[0]  #値を返さない

In [36]:
a

[345, 12, 456]

In [37]:
t = 123,345,45

In [38]:
t

(123, 345, 45)

In [39]:
#t[0] = 99  #タプルは変更不可能

In [40]:
singleton = 'hello',   #カンマに注目
singleton

('hello',)

In [41]:
len(singleton)

1

In [42]:
len(t)

3

In [43]:
setn = {123,345,567,7689}  #{}で、集合を生成

In [44]:
11 in setn

False

In [45]:
a = set('qwerertysdf')  #set()で、集合を生成
a

{'d', 'e', 'f', 'q', 'r', 's', 't', 'w', 'y'}

In [46]:
b = set('qwehgajhsbjc')

In [47]:
a - b  #setの差

{'d', 'f', 'r', 't', 'y'}

In [48]:
a & b #setの和

{'e', 'q', 's', 'w'}

In [49]:
dic = {10:"jack", 50:"sopy", 20:"tom", 30:"brad"}

In [50]:
dic[10]

'jack'

In [51]:
dic.keys()

dict_keys([10, 50, 20, 30])

In [52]:
dic[30] = "bbb"
dic

{10: 'jack', 50: 'sopy', 20: 'tom', 30: 'bbb'}

In [53]:
sorted(dic.keys())

[10, 20, 30, 50]

In [54]:
dic.values()

dict_values(['jack', 'sopy', 'tom', 'bbb'])

In [55]:
{x: x**2 for x in range(4)}   #{}注意して

{0: 0, 1: 1, 2: 4, 3: 9}

In [56]:
tt = dict([(10,'qq'), (20,'ww'), (30,'rr')])

In [57]:
for key, value in tt.items():
    print('{0} => {1}'.format(key,value))

10 => qq
20 => ww
30 => rr

In [58]:
a = [99,33,56,78]

In [59]:
for i ,v in enumerate(a):
    print('{0} => {1}'.format(i,v))

0 => 99
1 => 33
2 => 56
3 => 78

In [60]:
questions = ["name", "age", "sex"]
answers = ["brad", 34, "m"]
for key, value in zip(questions, answers):
    print('{0} = > {1}'.format(key, value))

name = > brad
age = > 34
sex = > m

In [61]:
baskets = ["apple","orange","banana","pear"]

In [62]:
[fruit for fruit in sorted(baskets)]

['apple', 'banana', 'orange', 'pear']

In [63]:
(1,2,3) < (1,2,4)

True

In [64]:
(1,2) < (1,2,-3)

True

In [65]:
'ABC' < 'C'

True